@import url('reset.css');
@import url('variables/global.css');
@import url('themes/dark.css');
@import url('themes/normal.css');

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh ;
}